@jsr:registry=https://npm.jsr.io

# figma-managed npm registry config start
//registry.figma.com/npm/eeee786c-d432-4d63-b05f-38edfc8e1329/registry/:_authToken=figi_UFUGx6IWfeNgOAs0GTJmMlXnF7AAiDvETU-9vph4
@lakmalkaviratne:registry=https://registry.figma.com/npm/eeee786c-d432-4d63-b05f-38edfc8e1329/registry/
registry=https://registry.npmjs.org/
# figma-managed npm registry config end
